{% extends "./index.html" %}
{% block prova %}

<div> <!-- it shows flows info-->
    <caption>
        <table border="4" cellpadding="7">
        <h1>Flow {{nFlow}}</h1>
    </caption>
    <thead>
        <tr>
            <th rowspan="2"><b>Cookie</b></th>
            <th rowspan="2"><b>Priority</b></th>
            <th colspan="5"><b>Match</b></th>
            <th colspan="2"><b>Action</b></th>
            <th rowspan="2"><b>Packets</b></th>
            <th rowspan="2"><b>Bytes</b></th>
            <th rowspan="2"><b>Age</b></th>
            <th rowspan="2"><b>TimeOut</b></th>
        </tr>
        <tr>
            <th>Port</th>
            <th>VLAN</th>
            <th>Prio</th>
            <th>Src</th>
            <th>Dst</th>
            <th>Type</th>
            <th>Port</th>
    </thead>
    <body>
        <td align="center"> 
            {% for val in flowInfo %}
                {{ val.fCkie|linebreaks }}
            {% endfor %}
        </td>
        <td align="center">
            {% for val in flowInfo %}
                {{ val.fPrio|linebreaks }}
            {% endfor %}
        </td>
        <td align="center">
            {% for val in flowInfo %}
                {{ val.fM_port|linebreaks }}
            {% endfor %}
        </td>
        <td align="center">
            {% for val in flowInfo %}
                {{ val.fM_vlan|linebreaks }}
            {% endfor %}
        </td>
        <td align="center">
            {% for val in flowInfo %}
                {{ val.fM_prio|linebreaks }}
            {% endfor %}
        </td>
        <td align="center">
            {% for val in flowInfo %}
                {{ val.fM_src|linebreaks }}
            {% endfor %}
        </td>
        <td align="center">
            {% for val in flowInfo %}
                {{ val.fM_dst|linebreaks }}
            {% endfor %}
        </td>
        <td align="center">
            {% for val in flowInfo %} 
                {% for x in val.fA_type %}
                    {{ x|linebreaks }}
                {% endfor %}
            {% endfor %}
        </td>
        <td align="center">
            {% for val in flowInfo %}
                {% for x in val.fA_port %}
                    {{ x|linebreaks }}
                {% endfor %}
            {% endfor %}
        </td>
        <td align="center">
            {% for val in flowInfo %}
                {{ val.fPk|linebreaks }}
            {% endfor %}
        </td>
        <td align="center">
            {% for val in flowInfo %}
                {{ val.fB|linebreaks }}
            {% endfor %}
        </td>
        <td align="center">
            {% for val in flowInfo %}
                {{ val.fAge|linebreaks }}
            {% endfor %}
        </td>
        <td align="center">
            {% for val in flowInfo %}
                {{ val.fTO|linebreaks }}
            {% endfor %}
        </td>
    </body>
        </table>
</div>




















{% endblock prova %}
