<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% extends "./index.html" %}

{% block content %}


<!--
<body>
    <div>
        <form action="/usereg/" method="post">{% csrf_token %}
            {{ form.non_field_errors }}
            <div> 
                <label for=firstName>First Name</label>
                <input type="text" id="id_firstName" name="FirstName" placeholder="First Name"> 
                {{form.firstName.errors}}
            </div>
            <div>
                <label for=lastName>Last Name</label>
                <input type="text" id="id_lastName" name="LastName" placeholder="Last Name"> 
                {{form.lastName.errors}}
            </div>
            <div>
                <label for="username">Username</label>
                <input type="text" id="id_username" name="username" placeholder="username">
                {{ form.username.errors }}
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" id="id_email" name="email" placeholder="email">
                {{ form.email.errors }}
            </div>
            <div>
                <label for="pass_One"> Password </label>
                <input type="password" name="passwordOne" id="id_passwordOne" placeholder="Password">
                {{ form.pass_One.errors }}
            </div> 
            <div>
                {{ form.pass_Two.errors }}
                <label for="pass_Two"> Confirm Password </label>
-->
<!--
                <input type="password" name="passwordTwo" id="id_passwordTwo" placeholder="Password">
-->
<!--
                {{form.pass_Two}}
            </div> 
            <input type="submit" value="Sign Up for Boss" />
            {{ message }}
        </form> 
    </div>
</body>
-->




<div>
    <form action="/usereg/" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
        {{message}}
    </form> 
</div>


{% endblock content %}